# Python virtual environment
my-venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Node modules (if you have JS frontend in same repo)
node_modules/

# Logs
*.log

.env

# Git
.git
.gitignore

# Docker files themselves (optional)
Dockerfile
docker-compose.yml
